.cx {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(90, 59, 59, 0.1);
  margin: 50px auto;
}

.msgStatus {
  color: #5e35b1;
  font-weight: bold;
  min-height: 20px;
}

.certo {
  background-color: #4caf50;
  color: #fff;
}

.errado {
  background-color: #ffc107;
  color: #333;
}
