.caixaDica {
  display: flex;
  align-items: flex-start;
  background-color: #f3e5f5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.icoDica {
  font-size: 1.5em;
  color: #5e35b1;
  margin-right: 10px;
}

.ttDica {
  font-weight: bold;
  color: #5e35b1;
  margin: 0 0 5px 0;
}

.txtDica {
  margin: 0;
  font-size: 0.9em;
  color: #333;
}