.formPalpite {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.lblPalpite {
  font-weight: bold;
  margin: 0;
}

.campoInp {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-transform: uppercase;
}

.btnConfirma {
  padding: 10px 15px;
  background-color: #5e35b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnConfirma:disabled {
  background-color: #b0a8c2;
  cursor: not-allowed;
}