.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}